<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="descrição" content="Portifolio pessoal de Arthur Ls. - Dev Front end | UX/UI">
        <title>Arthur LS - Portfólio</title>
        <link rel="stylesheet" type="text/css" href="../css/pageContruction.css">
    </head>
<body>
    <main>
        <section class="section_page_construction">
            <img src="../img/img - page construction.svg" alt="site em construção">
            <div class="msg_page_construction">
                <h1 class="pageConstruction">Está pagina está em <span class="colorfont">Construção</span>!</h1>
                <h2 class="novidade">Novidades em breve !</h2>
            </div>
        </section>
    </main>
</body>
</html>